In [79]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### PARTIE 1 : Exploration de la base de données

In [80]:
df = pd.read_csv('csv_files/regularite-mensuelle-tgv-aqst.csv',sep=';')
missing_data = df.isnull().sum()
print('Donées manquantes :', '\n', missing_data[missing_data>0], '\n')
print('Type des données :', '\n', df.dtypes)

Donées manquantes :
 commentaire_annulation         8154
commentaire_retards_depart     8154
commentaires_retard_arrivee    7456
dtype: int64

Type des données :
 date                                     object
service                                  object
gare_depart                              object
gare_arrivee                             object
duree_moyenne                             int64
nb_train_prevu                            int64
nb_annulation                             int64
commentaire_annulation                  float64
nb_train_depart_retard                    int64
retard_moyen_depart                     float64
retard_moyen_tous_trains_depart         float64
commentaire_retards_depart              float64
nb_train_retard_arrivee                   int64
retard_moyen_arrivee                    float64
retard_moyen_tous_trains_arrivee        float64
commentaires_retard_arrivee              object
nb_train_retard_sup_15                    int64
retard_moyen_trains_retard_sup15        float64
nb_train_retard_sup_30                    int64
nb_train_retard_sup_60                    int64
prct_cause_externe                      float64
prct_cause_infra                        float64
prct_cause_gestion_trafic               float64
prct_cause_materiel_roulant             float64
prct_cause_gestion_gare                 float64
prct_cause_prise_en_charge_voyageurs    float64
dtype: object

In [81]:
print('Information : ', '\n', df.info())
print('Description statistique de chaque colonne : ', '\n', df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8154 entries, 0 to 8153
Data columns (total 26 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   date                                  8154 non-null   object
 1   service                               8154 non-null   object
 2   gare_depart                           8154 non-null   object
 3   gare_arrivee                          8154 non-null   object
 4   duree_moyenne                         8154 non-null   int64
 5   nb_train_prevu                        8154 non-null   int64
 6   nb_annulation                         8154 non-null   int64
 7   commentaire_annulation                0 non-null      float64
 8   nb_train_depart_retard                8154 non-null   int64
 9   retard_moyen_depart                   8154 non-null   float64
 10  retard_moyen_tous_trains_depart       8154 non-null   float64
 11  commentaire_retards_depart            0 non-null      float64
 12  nb_train_retard_arrivee               8154 non-null   int64
 13  retard_moyen_arrivee                  8154 non-null   float64
 14  retard_moyen_tous_trains_arrivee      8154 non-null   float64
 15  commentaires_retard_arrivee           698 non-null    object
 16  nb_train_retard_sup_15                8154 non-null   int64
 17  retard_moyen_trains_retard_sup15      8154 non-null   float64
 18  nb_train_retard_sup_30                8154 non-null   int64
 19  nb_train_retard_sup_60                8154 non-null   int64
 20  prct_cause_externe                    8154 non-null   float64
 21  prct_cause_infra                      8154 non-null   float64
 22  prct_cause_gestion_trafic             8154 non-null   float64
 23  prct_cause_materiel_roulant           8154 non-null   float64
 24  prct_cause_gestion_gare               8154 non-null   float64
 25  prct_cause_prise_en_charge_voyageurs  8154 non-null   float64
dtypes: float64(13), int64(8), object(5)
memory usage: 1.6+ MB
Information :
 None

Description statistique de chaque colonne :
        duree_moyenne  nb_train_prevu  nb_annulation  commentaire_annulation  \
count    8154.000000     8154.000000    8154.000000                     0.0
mean      169.860314      257.198308      11.349644                     NaN
std        87.390774      173.815703      26.544553                     NaN
min         0.000000        0.000000       0.000000                     NaN
25%       100.000000      142.000000       0.000000                     NaN
50%       164.000000      221.000000       3.000000                     NaN
75%       221.000000      333.000000      10.000000                     NaN
max       786.000000     1075.000000     297.000000                     NaN

       nb_train_depart_retard  retard_moyen_depart  \
count             8154.000000          8154.000000
mean                88.434265            11.205745
std                 90.384803            12.476780
min                  0.000000             0.000000
25%                 22.000000             5.128410
50%                 55.000000             9.036447
75%                129.000000            14.219375
max                596.000000           316.188095

       retard_moyen_tous_trains_depart  commentaire_retards_depart  \
count                      8154.000000                         0.0
mean                          3.076737                         NaN
std                           5.432676                         NaN
min                        -229.269444                         NaN
25%                           1.140258                         NaN
50%                           2.248271                         NaN
75%                           3.903651                         NaN
max                          84.516667                         NaN

       nb_train_retard_arrivee  retard_moyen_arrivee  ...  \
count              8154.000000           8154.000000  ...
mean                 34.516066             33.950971  ...
std                  29.729349             15.702663  ...
min                   0.000000            -40.109259  ...
25%                  13.000000             24.636941  ...
50%                  27.000000             32.441236  ...
75%                  47.000000             41.346717  ...
max                 376.000000            299.600000  ...

       nb_train_retard_sup_15  retard_moyen_trains_retard_sup15  \
count             8154.000000                       8154.000000
mean                24.434511                         32.193823
std                 21.400761                         20.195926
min                  0.000000                         -4.000000
25%                  9.000000                         12.140350
50%                 19.000000                         34.932765
75%                 33.000000                         44.268749
max                312.000000                        299.600000

       nb_train_retard_sup_30  nb_train_retard_sup_60  prct_cause_externe  \
count             8154.000000             8154.000000         8154.000000
mean                11.642016                4.245892           23.266846
std                 11.225104                4.901032           16.805192
min                  0.000000                0.000000            0.000000
25%                  4.000000                1.000000           11.764706
50%                  9.000000                3.000000           20.967742
75%                 16.000000                6.000000           32.307692
max                202.000000               71.000000          100.000000

       prct_cause_infra  prct_cause_gestion_trafic  \
count       8154.000000                8154.000000
mean          21.888418                  19.052124
std           15.692521                  14.947548
min            0.000000                   0.000000
25%           11.538462                   8.695652
50%           20.000000                  16.949153
75%           30.000000                  26.923077
max          100.000000                 100.000000

       prct_cause_materiel_roulant  prct_cause_gestion_gare  \
count                  8154.000000              8154.000000
mean                     18.995179                 6.714513
std                      14.256533                 8.080759
min                       0.000000                 0.000000
25%                       9.523810                 0.000000
50%                      17.165179                 5.000000
75%                      26.086957                10.000000
max                     100.000000               100.000000

       prct_cause_prise_en_charge_voyageurs
count                           8154.000000
mean                               7.127315
std                               10.249453
min                                0.000000
25%                                0.000000
50%                                3.703704
75%                               10.000000
max                              100.000000

[8 rows x 21 columns]

### PARTIE 2 : Traitement de la base de données
#### 1 : Gestion des commentaires

On observe que les seules valeurs manquantes sont pour les features commentaires : commentaire_annulation, commentaire_retards_depart
et commentaire_retard_arrivee.
Pour une première approche simplificatrice du dataset, on prend la décision de supprimier les features commentaires.

In [82]:
df_clean = (
    df.copy()
        .drop(
            ["commentaire_annulation", "commentaire_retards_depart", "commentaires_retard_arrivee"],
            axis=1,
        )
)

df_clean.columns

Index(['date', 'service', 'gare_depart', 'gare_arrivee', 'duree_moyenne',
       'nb_train_prevu', 'nb_annulation', 'nb_train_depart_retard',
       'retard_moyen_depart', 'retard_moyen_tous_trains_depart',
       'nb_train_retard_arrivee', 'retard_moyen_arrivee',
       'retard_moyen_tous_trains_arrivee', 'nb_train_retard_sup_15',
       'retard_moyen_trains_retard_sup15', 'nb_train_retard_sup_30',
       'nb_train_retard_sup_60', 'prct_cause_externe', 'prct_cause_infra',
       'prct_cause_gestion_trafic', 'prct_cause_materiel_roulant',
       'prct_cause_gestion_gare', 'prct_cause_prise_en_charge_voyageurs'],
      dtype='object')

#### 2 : Gestion de la colonne service

In [83]:
df_clean["service"].unique()

array(['National', 'International'], dtype=object)

On observe que la colonne ne possède que deux valeurs categorielles, nous allons faire un "one-hot" encoding et creer une feature booléenne "national_service"

In [84]:
df_clean["national_service"] = np.where(df_clean["service"]=="National", 1,0)
df_clean.drop("service", axis=1, inplace=True)

#### 3 : Gestion de la date
Nous allons créer deux colonnes, une pour le mois et l'autre pour l'année.

In [85]:
df_clean[['annee', 'mois']] = df_clean['date'].str.split('-', expand=True)
df_clean.drop("date", axis=1, inplace=True)
df_clean

,gare_depart,gare_arrivee,duree_moyenne,nb_train_prevu,nb_annulation,nb_train_depart_retard,retard_moyen_depart,retard_moyen_tous_trains_depart,nb_train_retard_arrivee,retard_moyen_arrivee,...,nb_train_retard_sup_60,prct_cause_externe,prct_cause_infra,prct_cause_gestion_trafic,prct_cause_materiel_roulant,prct_cause_gestion_gare,prct_cause_prise_en_charge_voyageurs,national_service,annee,mois
0,BORDEAUX ST JEAN,PARIS MONTPARNASSE,141,870,5,289,11.247809,3.693179,147,28.436735,...,8,36.134454,31.092437,10.924370,15.966387,5.042017,0.840336,1,2018,01
1,LA ROCHELLE VILLE,PARIS MONTPARNASSE,165,222,0,8,2.875000,0.095796,34,21.524020,...,0,15.384615,30.769231,38.461538,11.538462,3.846154,0.000000,1,2018,01
2,PARIS MONTPARNASSE,QUIMPER,220,248,1,37,9.501351,1.003981,26,55.692308,...,7,26.923077,38.461538,15.384615,19.230769,0.000000,0.000000,1,2018,01
3,PARIS MONTPARNASSE,ST MALO,156,102,0,12,19.912500,1.966667,13,48.623077,...,4,23.076923,46.153846,7.692308,15.384615,7.692308,0.000000,1,2018,01
4,PARIS MONTPARNASSE,ST PIERRE DES CORPS,61,391,2,61,7.796995,0.886889,71,12.405164,...,0,21.212121,42.424242,9.090909,21.212121,6.060606,0.000000,1,2018,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8149,STRASBOURG,PARIS EST,114,492,2,273,11.989927,6.742041,105,30.157302,...,10,7.619048,5.714286,55.238095,18.095238,7.619048,5.714286,1,2023,06
8150,TOULOUSE MATABIAU,PARIS MONTPARNASSE,273,215,0,24,28.730556,3.181240,36,76.688889,...,10,13.888889,33.333333,8.333333,19.444444,8.333333,16.666667,1,2023,06
8151,TOURS,PARIS MONTPARNASSE,78,192,1,20,31.281667,3.276353,32,45.841146,...,5,14.285714,21.428571,28.571429,21.428571,3.571429,10.714286,1,2023,06
8152,VALENCE ALIXAN TGV,PARIS LYON,133,440,2,347,13.517051,10.271499,116,41.487213,...,22,26.724138,19.827586,27.586207,7.758621,7.758621,10.344828,1,2023,06
8153,VANNES,PARIS MONTPARNASSE,167,284,0,154,6.480628,3.619894,43,42.007752,...,7,11.627907,39.534884,11.627907,18.604651,11.627907,6.976744,1,2023,06

#### 4 : Gestion des villes
La dernière étape du preprocessing est celle du traitement des colonnes gare_depart et gare_arrivee. Pour garde l'information gare de départ ou d'arrivée, on crée une colonne par ville de départ, avec le préfixe DEPART, et de même avec les villes d'arrivée, avec le préfixe ARRIVEE. On décide ainsi de garder la visibilité sur les caractéristiques de départ et d'arrivée des gares, car en effet la gare du départ ou d'arrivée peut avoir un impact sur le retard indépendemment du trajet.

In [86]:
def encoding_cities(): 
    depart = pd.get_dummies(df_clean['gare_depart'],prefix='DEPART') # Créer une colonne par ville de départ
    df_clean= pd.concat([df_clean,depart], axis=1).drop('gare_depart', axis=1) ## Concaténer les colonnes et supprimer la colonne avec les données catégorilles
    arrivee = pd.get_dummies(df_clean['gare_arrivee'],prefix='ARRIVEE') # Créer une colonne par ville d'arrivée'
    df_clean= pd.concat([df_clean,arrivee], axis=1).drop('gare_arrivee', axis=1) 
    df_clean 
encoding_cities

### PARTIE 3 : Ajout de nouveaux features intéressants

Dans notre objectif de prédire les retards des trains TGV à l'arrivée, certaines features nous semblent intéressants à ajouter au dataset : 
- Le **nombre de voies par gare**. On pourra ainsi chercher une relation entre les retards d'une gare et le nombre de voies qu'elle possède.
- Les mois possédant des semaines de **vacances scolaires**. On cherche ici une relation possible entre les mois à plus forts retards et l'affluence en gare / fréquentation des transports ferroviaires sur lces periodes de vacances.
- Les mois durant lesquels des **grèves** ont eu lieues et son annoncées. Les grèves font partie des causes de retard à prendre en compte dans notre étude.
- La **distance entre deux gares**. Y a-t'il plus de retards sur les longs trajets ? Existe-t'il une relation entre distance entre deux gares et retards sur cette ligne ?
- Les **coordonnées GPS des gares**. En remplaçant les noms des gares par leurs coordonnées GPS, on pourrait plus facilement accéder à la distance entre deux gares.

 #### 1 : Ajouter le nombre de voies par gare

On commence par créer un fichier *nbdevoies.csv* contenant le nombre de voies pour chaque gare du dataset. 
Tout d'abord, on récupère la liste des gares présentes dans le dataset. Puis, pour chacune d'entre elles, on recherche le nombre de voies qu'elle possède. Les données sont obtenues par recherches personnelles.
Dans les gares, les passagers sont sur les quais et les trains sur les voies. En comptant le nombre de voies, on peut avoir une idée du nombre maximal de trains qu'il est possible d'avoir en gare en même temps.

In [87]:
nb_voies = pd.read_csv('csv_files/nbdevoies.csv',sep=',')

# Vérifier que le dataset est bien complet 
print('Donées manquantes :', '\n', nb_voies.isnull().sum(), '\n')
print('Type des données :', '\n', nb_voies.dtypes)
nb_voies

Donées manquantes :
 gare         0
 nb_voies    0
dtype: int64

Type des données :
 gare         object
 nb_voies     int64
dtype: object

                              gare   nb_voies
0                 BORDEAUX ST JEAN         15
1                LA ROCHELLE VILLE          5
2               PARIS MONTPARNASSE         24
3                          QUIMPER          5
4                           RENNES         10
5              ST PIERRE DES CORPS          5
6                            TOURS         12
7                           NANTES         15
8                        PARIS EST         29
9                       STRASBOURG         14
10                       DUNKERQUE          7
11                           LILLE         16
12                 PARIS VAUGIRARD          4
13                       TOURCOING          4
14       CHAMBERY CHALLES LES EAUX          6
15                  LYON PART DIEU         12
16                     MONTPELLIER          6
17                  MULHOUSE VILLE          8
18                      NICE VILLE          7
19                      PARIS LYON         32
20                       BARCELONA         14
21                          GENEVE          8
22                          MADRID         24
23                           BREST          6
24                        POITIERS          9
25               TOULOUSE MATABIAU         14
26                           REIMS          9
27                           DOUAI          9
28                      PARIS NORD         32
29                BELLEGARDE (AIN)          6
30                     MACON LOCHE          4
31                 MARNE LA VALLEE          7
32                       PERPIGNAN          6
33                          TOULON          5
34                        LAUSANNE          9
35               ANGERS SAINT LAUD          5
36                            METZ         10
37                           NANCY         10
38      BESANCON FRANCHE COMTE TGV          6
39                        GRENOBLE          7
40                           NIMES          5
41      SAINT ETIENNE CHATEAUCREUX          6
42                       FRANCFORT         29
43                          ITALIE         24
44                          ZURICH         42
45                       ANGOULEME          7
46                          VANNES          4
47            MARSEILLE ST CHARLES         16
48                          ANNECY          5
49                     AVIGNON TGV          6
50              VALENCE ALIXAN TGV          7
51                       STUTTGART         17
52                           LAVAL          4
53                         LE MANS          8
54                         ST MALO          4
55                           ARRAS          8
56             AIX EN PROVENCE TGV          4
57                     DIJON VILLE         11
58  LE CREUSOT MONTCEAU MONTCHANIN          2

Après l'importation de ce fichier *nb_voies*, on intègre les valeurs au dataset *data_clean* pour chaque gare correspondante. On appelera *nb_voies_depart* et *nb_voies_arrivee* resepctivement les nombres de voies dans les gares de départ et d'arrivée d'un trajet.

In [88]:
# Fusionnez les deux dataframe df_clean et nb_voies selon les noms des gares de départ et d'arrivée

df_clean = df_clean.merge(nb_voies, left_on='gare_depart', right_on='gare', how='left')
df_clean.rename(columns={'nb_voies_x': 'nb_voies_depart'}, inplace=True)
df_clean = df_clean.merge(nb_voies, left_on='gare_arrivee', right_on='gare', how='left')
df_clean.rename(columns={'nb_voies_y': 'nb_voies_arrivee'}, inplace=True)
df_clean.drop(['gare_x', 'gare_y'], axis=1, inplace=True)
df_clean

,gare_depart,gare_arrivee,duree_moyenne,nb_train_prevu,nb_annulation,nb_train_depart_retard,retard_moyen_depart,retard_moyen_tous_trains_depart,nb_train_retard_arrivee,retard_moyen_arrivee,...,prct_cause_infra,prct_cause_gestion_trafic,prct_cause_materiel_roulant,prct_cause_gestion_gare,prct_cause_prise_en_charge_voyageurs,national_service,annee,mois,nb_voies_x,nb_voies_y
0,BORDEAUX ST JEAN,PARIS MONTPARNASSE,141,870,5,289,11.247809,3.693179,147,28.436735,...,31.092437,10.924370,15.966387,5.042017,0.840336,1,2018,01,15,24
1,LA ROCHELLE VILLE,PARIS MONTPARNASSE,165,222,0,8,2.875000,0.095796,34,21.524020,...,30.769231,38.461538,11.538462,3.846154,0.000000,1,2018,01,5,24
2,PARIS MONTPARNASSE,QUIMPER,220,248,1,37,9.501351,1.003981,26,55.692308,...,38.461538,15.384615,19.230769,0.000000,0.000000,1,2018,01,24,5
3,PARIS MONTPARNASSE,ST MALO,156,102,0,12,19.912500,1.966667,13,48.623077,...,46.153846,7.692308,15.384615,7.692308,0.000000,1,2018,01,24,4
4,PARIS MONTPARNASSE,ST PIERRE DES CORPS,61,391,2,61,7.796995,0.886889,71,12.405164,...,42.424242,9.090909,21.212121,6.060606,0.000000,1,2018,01,24,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8149,STRASBOURG,PARIS EST,114,492,2,273,11.989927,6.742041,105,30.157302,...,5.714286,55.238095,18.095238,7.619048,5.714286,1,2023,06,14,29
8150,TOULOUSE MATABIAU,PARIS MONTPARNASSE,273,215,0,24,28.730556,3.181240,36,76.688889,...,33.333333,8.333333,19.444444,8.333333,16.666667,1,2023,06,14,24
8151,TOURS,PARIS MONTPARNASSE,78,192,1,20,31.281667,3.276353,32,45.841146,...,21.428571,28.571429,21.428571,3.571429,10.714286,1,2023,06,12,24
8152,VALENCE ALIXAN TGV,PARIS LYON,133,440,2,347,13.517051,10.271499,116,41.487213,...,19.827586,27.586207,7.758621,7.758621,10.344828,1,2023,06,7,32
8153,VANNES,PARIS MONTPARNASSE,167,284,0,154,6.480628,3.619894,43,42.007752,...,39.534884,11.627907,18.604651,11.627907,6.976744,1,2023,06,4,24

#### 2 : Ajouter les vacances scolaires

On souhaite désormais marquer chaque mois contenant des semaines de vacances scolaires depuis le mois de janvier 2018 jusqu'au mois de juin 2023. On repère par 1 un mois contenant des vacances, et par 0 un mois sans.

In [89]:
vac = pd.read_csv('csv_files/vacances_scolaires.csv',sep=';')

# Vérifier que le dataset est bien complet 
print('Donées manquantes :', '\n', vac.isnull().sum(), '\n')
print('Type des données :', '\n', vac.dtypes)
vac

Donées manquantes :
 annee       0
mois        0
vacances    0
dtype: int64

Type des données :
 annee       int64
mois        int64
vacances    int64
dtype: object

    annee  mois  vacances
0    2018     1         0
1    2018     2         1
2    2018     3         0
3    2018     4         1
4    2018     5         0
..    ...   ...       ...
61   2023     2         1
62   2023     3         0
63   2023     4         1
64   2023     5         0
65   2023     6         0

[66 rows x 3 columns]

In [90]:
df_clean['annee'] = df_clean['annee'].astype(int)
df_clean['mois'] = df_clean['mois'].astype(int)
df_clean = df_clean.merge(vac, on=['annee', 'mois'], how='left')
df_clean

,gare_depart,gare_arrivee,duree_moyenne,nb_train_prevu,nb_annulation,nb_train_depart_retard,retard_moyen_depart,retard_moyen_tous_trains_depart,nb_train_retard_arrivee,retard_moyen_arrivee,...,prct_cause_gestion_trafic,prct_cause_materiel_roulant,prct_cause_gestion_gare,prct_cause_prise_en_charge_voyageurs,national_service,annee,mois,nb_voies_x,nb_voies_y,vacances
0,BORDEAUX ST JEAN,PARIS MONTPARNASSE,141,870,5,289,11.247809,3.693179,147,28.436735,...,10.924370,15.966387,5.042017,0.840336,1,2018,1,15,24,0
1,LA ROCHELLE VILLE,PARIS MONTPARNASSE,165,222,0,8,2.875000,0.095796,34,21.524020,...,38.461538,11.538462,3.846154,0.000000,1,2018,1,5,24,0
2,PARIS MONTPARNASSE,QUIMPER,220,248,1,37,9.501351,1.003981,26,55.692308,...,15.384615,19.230769,0.000000,0.000000,1,2018,1,24,5,0
3,PARIS MONTPARNASSE,ST MALO,156,102,0,12,19.912500,1.966667,13,48.623077,...,7.692308,15.384615,7.692308,0.000000,1,2018,1,24,4,0
4,PARIS MONTPARNASSE,ST PIERRE DES CORPS,61,391,2,61,7.796995,0.886889,71,12.405164,...,9.090909,21.212121,6.060606,0.000000,1,2018,1,24,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8149,STRASBOURG,PARIS EST,114,492,2,273,11.989927,6.742041,105,30.157302,...,55.238095,18.095238,7.619048,5.714286,1,2023,6,14,29,0
8150,TOULOUSE MATABIAU,PARIS MONTPARNASSE,273,215,0,24,28.730556,3.181240,36,76.688889,...,8.333333,19.444444,8.333333,16.666667,1,2023,6,14,24,0
8151,TOURS,PARIS MONTPARNASSE,78,192,1,20,31.281667,3.276353,32,45.841146,...,28.571429,21.428571,3.571429,10.714286,1,2023,6,12,24,0
8152,VALENCE ALIXAN TGV,PARIS LYON,133,440,2,347,13.517051,10.271499,116,41.487213,...,27.586207,7.758621,7.758621,10.344828,1,2023,6,7,32,0
8153,VANNES,PARIS MONTPARNASSE,167,284,0,154,6.480628,3.619894,43,42.007752,...,11.627907,18.604651,11.627907,6.976744,1,2023,6,4,24,0

#### 3 : Ajouter les coordonnées GPS des gares

Dans le but de simplifier la transformation en données numériques des noms des gares, on décide de travailler avec leurs coordonnées GPS.

In [91]:
coord = pd.read_csv('csv_files/coord_gps_gares_mis_a_jour.csv')

print('Donées manquantes :', '\n', coord.isnull().sum(), '\n')
print('Type des données :', '\n', coord.dtypes)
coord

Donées manquantes :
 Gare         0
Latitude     0
Longitude    0
dtype: int64

Type des données :
 Gare          object
Latitude     float64
Longitude    float64
dtype: object

                              Gare   Latitude  Longitude
0                       PARIS LYON  48.844806   2.373479
1               PARIS MONTPARNASSE  48.837361   2.316138
2                       PARIS NORD  48.882490   2.355891
3                        TOURCOING  50.717246   3.162642
4                  PARIS VAUGIRARD  48.838560   2.315971
5                        PARIS EST  48.877098   2.359491
6                   LYON PART DIEU  45.760640   4.859410
7             MARSEILLE ST CHARLES  43.303230   5.381642
8                           RENNES  48.103193  -1.672381
9                            LILLE  50.635742   3.074095
10                     MONTPELLIER  43.604873   3.880714
11                 MARNE LA VALLEE  48.870754   2.782888
12                          MADRID  40.404020  -3.688230
13                      STRASBOURG  48.585293   7.733925
14                           REIMS  49.258938   4.024319
15                            METZ  49.109523   6.176819
16                           NANCY  48.689920   6.174435
17                       FRANCFORT  50.107222   8.663784
18                       STUTTGART  48.783408   9.182334
19       CHAMBERY CHALLES LES EAUX  45.571434   5.919870
20                  MULHOUSE VILLE  47.742491   7.342867
21                      NICE VILLE  43.704444   7.261587
22                       BARCELONA  41.379096   2.139900
23                          GENEVE  46.210679   6.142944
24                BELLEGARDE (AIN)  46.110118   5.826864
25                     MACON LOCHE  46.282932   4.778554
26                       PERPIGNAN  42.696359   2.879700
27                          TOULON  43.128472   5.929231
28                        LAUSANNE  46.516985   6.629165
29      BESANCON FRANCHE COMTE TGV  47.308960   5.957570
30                        GRENOBLE  45.191312   5.713827
31                           NIMES  43.832374   4.366255
32      SAINT ETIENNE CHATEAUCREUX  45.446194   4.400024
33                          ITALIE  45.485432   9.187055
34                          ZURICH  47.378313   8.540262
35                          ANNECY  45.902023   6.120712
36                     AVIGNON TGV  43.922010   4.786200
37              VALENCE ALIXAN TGV  45.028257   4.982282
38             AIX EN PROVENCE TGV  43.460330   5.318789
39                     DIJON VILLE  47.324076   5.026873
40  LE CREUSOT MONTCEAU MONTCHANIN  46.765523   4.500022
41                BORDEAUX ST JEAN  44.825817  -0.556073
42               LA ROCHELLE VILLE  46.153913  -1.147514
43                         QUIMPER  47.994645  -4.092135
44             ST PIERRE DES CORPS  47.385748   0.723810
45                           TOURS  47.389888   0.694435
46                           BREST  48.387762  -4.480120
47                        POITIERS  46.721658   0.220242
48               TOULOUSE MATABIAU  43.611398   1.453655
49               ANGERS SAINT LAUD  47.464361  -0.556209
50                       ANGOULEME  45.653731   0.164325
51                          NANTES  47.293323  -1.389053
52                          VANNES  47.665299  -2.752590
53                           LAVAL  48.076368  -0.760890
54                         LE MANS  47.995614   0.192275
55                         ST MALO  48.646602  -2.003988
56                       DUNKERQUE  51.030419   2.368886
57                           DOUAI  50.372207   3.089837
58                           ARRAS  50.287770   2.782663

In [92]:

def merging_coord_gps_tocsv():
    df_clean = df_clean.merge(coord, left_on='gare_depart', right_on='Gare', how='left')
    df_clean.rename(columns={'Latitude': 'Latitude_depart'}, inplace=True)
    df_clean.rename(columns={'Longitude': 'Longitude_depart'}, inplace=True)
    df_clean = df_clean.merge(coord, left_on='gare_arrivee', right_on='Gare', how='left')
    df_clean.rename(columns={'Latitude': 'Latitude_arrivee'}, inplace=True)
    df_clean.rename(columns={'Longitude': 'Longitude_arrivee'}, inplace=True)
    df_clean.drop(['Gare_x', 'Gare_y'], axis=1, inplace=True)
    df_clean

#### 4 : Ajouter la distance d'un trajet
On décide d'ajouter un feature, celui de la distance entre deux gares, soit la distance à vol d'oiseau d'un trajet.

In [93]:
distance = pd.read_csv('csv_files/distance_gares_mis_a_jour.csv')
merged_data = df_clean.merge(distance, left_on=['gare_depart', 'gare_arrivee'], right_on=['gare_depart', 'gare_arrivee'], how='left')

# Inverser les noms des gares pour obtenir les distances dans les deux sens
df_distance_inverse = distance.rename(columns={'gare_depart': 'gare_arrivee', 'gare_arrivee': 'gare_depart'})

# Fusionner les données inversées avec les gares de départ et d'arrivée
merged_data_inverse = df_clean.merge(df_distance_inverse, left_on=['gare_depart', 'gare_arrivee'], right_on=['gare_depart', 'gare_arrivee'], how='left')

# Combiner les deux DataFrames en utilisant la distance non nulle
merged_data['Distance (km)'] = merged_data['Distance (km)'].combine_first(merged_data_inverse['Distance (km)'])

### PARITE 4 : Etudier la corrélation entre les features du dataset
Pour avoir une première idée des corrélations existantes entre les features, on affiche la matrice de corrélation du dataset.On utilise Seaborn pour créer un graphique et afficher la matrice de corrélation.

In [94]:
correlation_matrix = df_clean.corr()
plt.figure(figsize=(10, 8))

plt.title('Matrice de Corrélation')
plt.show()

ValueError: could not convert string to float: 'BORDEAUX ST JEAN'

### PARTIE 5 : Exportation de la base de donnée traitée

A faire : 
Sortir une base de donnée par application
- une sans les prct
- une sans trop de colonnes pour prédire le retard moyen

In [95]:
merged_data.to_csv('train_bdd_clean.csv', index=False)